header {
  height: 110px;
  overflow: hidden;
  border-bottom: 2px solid #15b6e8;
  background-color: #ffffff; }
  header .logo h1 {
    text-indent: -100000px;
    height: 108px;
    width: 240px;
    background: url("../images/logo.png") no-repeat center; }
  header .right {
    display: table-cell; }
    header .right:after {
      content: "";
      display: inline-block;
      height: 108px;
      width: 1px;
      vertical-align: middle; }
    header .right.login a {
      font-size: 16px;
      color: #000000;
      border: none; }
      header .right.login a:active {
        color: black; }
    header .right a {
      display: inline-block;
      width: 68px;
      height: 34px;
      border: 1px solid #000000;
      margin-right: 20px;
      text-align: center;
      line-height: 34px;
      color: #000000;
      vertical-align: middle;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      header .right a:hover {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px); }
      header .right a.active {
        background-color: #15b6e8;
        border-color: #15b6e8;
        color: #ffffff; }

.content {
  height: 744px;
  background: url("../images/loginBg.png") no-repeat center;
  background-size: cover; }
  .content .formW {
    width: 443px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    position: absolute;
    top: 165px;
    right: 63px; }
    .content .formW .top {
      border-bottom: 1px solid #aeafaf;
      padding: 0 20px; }
      .content .formW .top .fl {
        font-size: 24px;
        color: #15b6e8;
        line-height: 50px; }
      .content .formW .top .fr {
        font-size: 14px;
        color: #ffffff;
        line-height: 50px; }
        .content .formW .top .fr a {
          color: #15b6e8; }
    .content .formW .formC {
      padding: 0 22px; }
      .content .formW .formC .inputW {
        position: relative;
        margin-top: 26px; }
        .content .formW .formC .inputW.pwd:before {
          background-image: url("../images/secret.png"); }
        .content .formW .formC .inputW.phone:before {
          background-image: url("../images/phone.png"); }
        .content .formW .formC .inputW.name:before {
          background-image: url("../images/name.png"); }
        .content .formW .formC .inputW.idCard:before {
          background-image: url("../images/idCard.png"); }
        .content .formW .formC .inputW.Captcha:before {
          display: none; }
        .content .formW .formC .inputW.Captcha input {
          width: 215px;
          margin-right: 18px;
          text-indent: 10px; }
        .content .formW .formC .inputW.Captcha a {
          width: 136px;
          height: 40px;
          display: block;
          float: right;
          background-color: #5bc4e5;
          color: #ffffff;
          text-align: center;
          line-height: 40px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          cursor: pointer; }
        .content .formW .formC .inputW.Captcha img {
          width: 136px;
          height: 40px;
          display: block;
          float: right; }
        .content .formW .formC .inputW:before {
          content: "";
          display: block;
          position: absolute;
          width: 35px;
          height: 40px;
          background: url("../images/client.png") no-repeat center;
          top: 0;
          left: 0; }
        .content .formW .formC .inputW input {
          width: 100%;
          height: 40px;
          text-indent: 35px;
          font-size: 14px;
          color: #808080; }
      .content .formW .formC .check {
        font-size: 14px;
        color: #ffffff;
        margin-top: 40px; }
        .content .formW .formC .check a {
          color: #15b6e8; }
        .content .formW .formC .check input {
          display: inline-block;
          vertical-align: middle;
          width: 12px;
          height: 12px;
          margin-right: 5px; }
      .content .formW .formC .submit {
        margin-bottom: 30px; }
        .content .formW .formC .submit:before {
          display: none; }
        .content .formW .formC .submit input {
          background-color: #15b6e8;
          text-align: center;
          text-indent: 0;
          color: #ffffff;
          cursor: pointer; }
          .content .formW .formC .submit input:hover {
            background-color: #19daff; }

footer {
  height: 88px;
  background-color: #000000;
  padding-top: 27px; }
  footer p {
    color: #ccc;
    line-height: 18px;
    font-size: 12px;
    text-transform: uppercase; }

.loginContent {
  background-color: #f9f7f7;
  padding-top: 24px; }
  .loginContent .left {
    width: 175px;
    min-height: 300px; }
    .loginContent .left p {
      width: 100%;
      background-color: #ff5a56;
      color: #ffffff;
      text-align: center;
      line-height: 50px;
      font-size: 16px;
      position: relative; }
      .loginContent .left p:before {
        content: "";
        display: block;
        width: 35px;
        height: 100%;
        background: url("../images/USER.png") no-repeat center;
        position: absolute;
        top: 0;
        left: 21px; }
    .loginContent .left ul {
      background-color: #fff;
      border: 1px solid #e5e5e5;
      min-height: 300px; }
      .loginContent .left ul li.active a {
        font-weight: bold;
        color: #ff5a56; }
      .loginContent .left ul li a {
        display: block;
        width: 100%;
        height: 46px;
        font-size: 16px;
        color: #2a2a2a;
        text-align: center;
        line-height: 46px; }
        .loginContent .left ul li a:hover {
          font-weight: bold;
          color: #ff5a56; }
  .loginContent .right {
    width: 1003px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5; }
    .loginContent .right .rightLeft {
      height: 140px;
      width: 140px;
      margin-top: 68px;
      margin-left: 73px;
      margin-bottom: 84px;
      margin-right: 118px;
      background: url("../images/balance.png") no-repeat center;
      font-size: 0; }
      .loginContent .right .rightLeft .balance {
        width: 100%;
        height: 100%;
        text-align: center; }
        .loginContent .right .rightLeft .balance:after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 0;
          vertical-align: middle; }
        .loginContent .right .rightLeft .balance p {
          display: inline-block;
          vertical-align: middle;
          font-size: 20px;
          color: #797979;
          line-height: 35px; }
          .loginContent .right .rightLeft .balance p span {
            font-size: 24px;
            color: #fa5959; }
    .loginContent .right .rightRight {
      padding-top: 30px;
      min-width: 500px; }
      .loginContent .right .rightRight .inputW {
        display: block;
        margin-bottom: 20px; }
        .loginContent .right .rightRight .inputW span {
          display: block;
          float: left;
          width: 123px;
          font-size: 14px;
          color: #595959;
          line-height: 28px; }
        .loginContent .right .rightRight .inputW p {
          font-size: 14px;
          color: #595959;
          line-height: 28px; }
        .loginContent .right .rightRight .inputW input {
          width: 260px;
          height: 28px;
          border: 1px solid #bfbfbf; }
    .loginContent .right .bottom {
      width: 100%;
      float: left;
      padding: 38px;
      border-top: 1px solid #e5e5e5; }
      .loginContent .right .bottom > * {
        float: left; }
      .loginContent .right .bottom p {
        font-size: 14px;
        color: #595959;
        line-height: 38px; }
      .loginContent .right .bottom input {
        width: 260px;
        height: 38px;
        box-shadow: inset 0 0 6px #bfbfbf;
        margin-right: 55px; }
      .loginContent .right .bottom .button {
        width: 140px;
        height: 40px;
        background: linear-gradient(to bottom, #00c9f6, #00aaf0);
        margin-right: 26px;
        text-align: center;
        line-height: 40px;
        color: #fefefe;
        font-size: 16px;
        user-select: none;
        cursor: pointer; }
        .loginContent .right .bottom .button.tx {
          background: linear-gradient(to bottom, #ff8172, #ff5243); }
          .loginContent .right .bottom .button.tx:hover {
            background: linear-gradient(to bottom, #ff9b89, #ff6250); }
        .loginContent .right .bottom .button.decz {
          background: linear-gradient(to bottom, #15c5e4, #07a9d6); }
          .loginContent .right .bottom .button.decz:hover {
            background: linear-gradient(to bottom, #17d9fb, #08baeb); }
        .loginContent .right .bottom .button:hover {
          background: linear-gradient(to bottom, #00ddff, #00bbff); }
    .loginContent .right .head {
      font-size: 16px;
      color: #3b3b3b;
      line-height: 53px;
      text-indent: 16px;
      background-color: #f1f1f1; }
    .loginContent .right .listC {
      padding: 25px 40px;
      margin-bottom: 100px; }
      .loginContent .right .listC .listRow {
        border-bottom: 1px dashed #d2d2d2;
        /*.success {
          font-size:0;

          span {
w
          }
        }*/ }
        .loginContent .right .listC .listRow:hover {
          background-color: #e6e6e6; }
        .loginContent .right .listC .listRow.listRowH {
          border-bottom-style: solid; }
        .loginContent .right .listC .listRow div {
          float: left;
          font-size: 14px;
          color: #535353;
          line-height: 43px;
          text-align: center; }
  .loginContent .page {
    float: left;
    width: 1000px;
    margin-left: 200px;
    text-align: center;
    font-size: 16px;
    color: #3b3b3b;
    margin-top: 20px;
    padding-bottom: 100px; }
  .loginContent .tips {
    float: left;
    width: 1000px;
    margin-left: 195px;
    padding-top: 34px;
    padding-bottom: 100px; }
    .loginContent .tips h6 {
      color: #f9211b;
      font-size: 16px;
      line-height: 1.5; }
    .loginContent .tips p {
      font-size: 14px;
      color: #595959;
      line-height: 31px; }

/*# sourceMappingURL=login.css.map */
